[Unit]
Description=Azerothcore Test World Server

[Container]
Image=localhost/acore-worldserver:dev
ContainerName=acore-worldserver-dev
Network=acore.network
PublishPort=8088:8085
PublishPort=7879:7878
UserNS=keep-id
EnvironmentFile=%h/azerothcore/env/dev.env
PodmanArgs=--interactive --tty
Volume=%h/azerothcore/config/dev:/azerothcore/env/dist/etc
Volume=%h/azerothcore/logs/dev:/azerothcore/env/dist/logs
Volume=%h/azerothcore/src/dev/data:/azerothcore/data:ro
Volume=%h/azerothcore/data/dev:/azerothcore/env/dist/data:ro
Volume=%h/azerothcore/src/dev/modules:/azerothcore/modules:ro

[Service]
Restart=always

[Install]
WantedBy=default.target
