SERVICE_NAME=acore
SERVICE_USER="${SERVICE_NAME}-user"

## SOURCE CONTROL

# unique identifier for ssh keys
REMOTE_IDENTITY=

# repository locations
ACORE_REPO=
MODULE_IPP=


## SQL

DB_NAME=acore
DB_USER=acore
DB_PASSWORD=

SERVER_ADDRESS=